.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #900000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0px;
}
.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}

.dropdownItem {
  background: rgb(196, 197, 231);
  display: none; /* 평상시에는 서브메뉴가 안보이게 하기 */
  list-style-type: none;
  text-decoration: none;
  color: #999999;
  font-size: 0.9rem;
  //height: auto;
  padding: 10px;
  margin: 2px;
  // border: 0px;
  position: absolute;
  // width: 200px;
  //z-index: 200;
}

.header li:hover ul {
  display: block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

.dropdownItem li a {
  text-decoration: none;
  color: #999999;
}
